<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% include analytics.html %}
		<link rel="icon"  type="image/png"    href="/assets/happyfarns.png">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
        		<li><a href="/projects">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{content}}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:connor.mccullough@cuanschutz.edu"><img src="/assets/email.png" alt="Email" style="width:64px;height:64px;"></a></li>
				<li><a href="https://github.com/ConMark"><img src="/assets/github.png" alt="GitHub" style="width:64px;height:64px;"></a></li>
				<li><a href="https://twitter.com/coneural"><img src="/assets/twitter.png" alt="Twitter" style="width:64px;height:64px;"></a></li>
				<li><a href="https://researchgate.net/profile/Connor_Mccullough4"><img src="/assets/researchgate.png" alt="ResearchGate" style="width:64px;height:64px;"></a></li>
			</ul>
		</footer>
		
	</body>
</html>
